.container{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.webcam{
	width: 25%;
	height: 25%;
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg);
}

.active {
	opacity: 1;
	/* Additional styles for the active state */
  }
  
  .inactive {
	opacity: 0;
	/* Additional styles for the inactive state */
  }