.container {
	position: absolute;
	bottom: 3rem;
	right: -5rem;
  }
  
  
  .webcam {
	width: 30%;
	height: 30%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg);
  }
  

.active {
	opacity: 1;
	/* Additional styles for the active state */
  }
  
  .inactive {
	opacity: 0;
	/* Additional styles for the inactive state */
  }