#root {
  width: 100vw;
  margin: 0 auto;

  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  max-height: 100vh;
  overflow: hidden;
}

.startScrenContainer {
  padding: 5rem;
  color: rgb(0, 255, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-size: 2.5rem;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.enterBtn {
  border-radius: 30%;
  margin-top: 1rem;
  transition: all ease 0.15s;
  background-color: transparent;
  color: rgb(0, 255, 47);
}

.userControlContainer {
  position: absolute;
  bottom: 6px;
  width: 99vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  border-radius: 0 0 1rem 1rem;
}

.btnSetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 1rem;
  border-right: rgb(201, 201, 201) 1px solid;
}

.btnSetContainer > * {
  margin: 0 0.5rem;
}

.btnSetContainer button {
  font-weight: 400;
  background-color: white;
}

.btnSetContainer button:hover {
  border: 1px black solid;
}
.btnSetContainer button:focus {
  outline: none;
}

.btnContainer {
  margin: 0.25rem;
}

.secondaryLabelText {
  font-weight: 400;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

canvas.visualizer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* temp css */
.oscDebugContainer {
  display: flex;
  justify-content: space-around;
}

.oscDebugContainer--item {
  width: 64px;
  text-align: left;
}
