#root {
  width: 100vw;
  margin: 0 auto;

  text-align: center;
}

body {
  background-color: blueviolet;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userControlContainer {
  position: absolute;
  bottom: 6px;
  width: 99vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;
}

.btnSetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 1rem;
  border-right: rgb(201, 201, 201) 1px solid;
}

.btnSetContainer > * {
  margin: 0 0.5rem;
}

.btnSetContainer button {
  font-weight: 400;
  background-color: white;
}

.btnSetContainer button:hover {
  border: 1px black solid;
}
.btnSetContainer button:focus {
  outline: none;
}

.btnContainer {
  margin: 0.25rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

canvas.visualizer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* temp css */
.oscDebugContainer {
  display: flex;
  justify-content: space-around;
}

.oscDebugContainer--item {
  width: 64px;
  text-align: left;
}
